# ansible
.ansible/
galaxy/

# python virtualenv
.venv

# k8s stuff that shouldn't be exposed
ca.crt
client.crt
client.key
*kubeconfig.yaml
Chart.lock

# docs

site/

# binary files
*.iso
*.log
*.tgz

# AI tools
.claude
.serena
.taskmaster/*
!.taskmaster/CLAUDE.md
!.taskmaster/config.json
.mcp.json

# Taskmaster task files
# tasks.json
# tasks/
