### docs
mkdocs
mkdocs-material
# plugins
mkdocs-minify-plugin
mkdocs-panzoom-plugin
# versioning
mike

### ansible (for development outside of nix shell)
ansible
ansible-lint
jinja2
jmespath
kubernetes
netaddr

### scripts (for development outside of nix shell)
# backup.py
argparse
#kubernetes # already included
# post-install.py
#kubernetes # already included
pexpect
rich
requests
