### docs
mkdocs
mkdocs-material
# plugins
mkdocs-minify-plugin
mkdocs-panzoom-plugin
### scripts (for development outside of nix shell)
# backup
argparse
kubernetes
# post-install
# kubernetes # already included
pexpect
rich
requests
