---
- name: Upgrade packages
  apt:
    update_cache: true
    upgrade: dist
  when: upgrade_packages

- name: Ensure base packages
  apt:
    name:
      # base utils
      - xz-utils
      # hardware monitoring
      - lm-sensors
      # nfs
      - nfs-kernel-server
      - nfs-common
      # snapraid build dependencies
      - build-essential
      - git
      - wget
    state: present

- name: Install mergerfs
  apt:
    deb: "{{ mergerfs_url_deb }}"
    state: present
