---
- name: Upgrade packages
  apt:
    update_cache: true
    upgrade: dist

- name: Ensure base packages
  apt:
    name:
      - xz-utils
      - lm-sensors
      - nfs-kernel-server
      - nfs-common

- name: Install snapraid build dependencies
  apt:
    name:
      - build-essential
      - git
      - wget
    state: present

- name: Install mergerfs
  apt:
    deb: "{{ mergerfs_url_deb }}"
    state: present
