---
- name: Upgrade packages
  apt:
    update_cache: true
    upgrade: dist

- name: Ensure base packages
  apt:
    name:
      - xz-utils
      - lm-sensors

- name: Install mergerfs
  apt:
    deb: "{{ mergerfs_url_deb }}"
    state: present
