---
- name: Download mergerfs rpm
  get_url:
    url: "{{ mergerfs_url_rpm }}"
    dest: "/tmp/mergerfs-{{ mergerfs_version }}.rpm"
    mode: "0755"

- name: Copy snapraid .rpm
  copy:
    src: files/snapraid_{{ snapraid_version }}_{{ ansible_distribution_release }}.rpm
    dest: /tmp/
    owner: root
    group: root
    mode: "0755"

- name: Set fastestmirror=True for dnf
  lineinfile:
    path: /etc/dnf/dnf.conf
    search_string: fastestmirror
    line: fastestmirror=True

- name: Update all packages # noqa package-latest
  dnf:
    name: "*"
    update_cache: true
    state: latest
  when: upgrade_packages

- name: Ensure required packages
  dnf:
    name:
      # hardware monitoring
      - lm_sensors
      # nfs
      - nfs-utils
    state: present

- name: Install mergerfs
  dnf:
    name: /tmp/mergerfs-{{ mergerfs_version }}.rpm
    state: present

- name: Install snapraid
  dnf:
    name: "/tmp/snapraid_{{ snapraid_version }}_{{ ansible_distribution_release }}.rpm"
    state: present
