# k3s.service.j2
[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/sysconfig/%N
EnvironmentFile=-/etc/rancher/k3s/k3s.env
KillMode=process
Delegate=yes
# HavingDelegate=yes is mandatory on v1.24 or later to use rootless execution (stepdown)
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s {% if inventory_hostname in groups['control_plane'] %} server {% else %} agent --server https://{{ control_plane_endpoint }}:6443 --token-file {{ k3s_token_file }} --node-ip {{ hostvars[inventory_hostname]['ansible_host'] }} {% endif %}
