[Unit]
Description=Run SnapRAID monthly scrub
Requires=snapraid-scrub.service

[Timer]
# Run on first Sunday of every month
OnCalendar={{ snapraid_maintenance.scrub_schedule }}
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
