[Unit]
Description=Run SnapRAID daily sync
Requires=snapraid-runner.service

[Timer]
# Run daily at configured time
OnCalendar=*-*-* {{ snapraid_maintenance.sync_time }}:00
Persistent=true
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
